<h3 class="text-primary py-2" style="margin-top: 40px; margin-bottom: 20px;"><span class="text-white bg-primary pt-4 ps-1 pe-3" style="border-radius: 100% 0% 0% 100% / 80% 4% 0% 20%;"> فلتر </span>البحث</h3>
<div class="p-4">
    <!-- first filter -->
    <div class="bg-secondary rounded-2 my-3">
        each choice,index in [{title: "إطارات من BBC",count: 2512},{title: "إطارات من BBC",count: 2512},{title: "إطارات من BBC",count: 2512},{title: "إطارات من BBC",count: 2512},{title: "إطارات من BBC",count: 2512}]
            <div class="w-100 d-flex px-4 py-2 justify-content-between">
                <div>
                    <input type="radio" name="rad-manufacturer" id="#{choice.title}"/>
                    <label for="#{choice.title}" class="fs-6-5 fw-semibold" style="margin-inline-start: 8px;">#{choice.title}</label>
                </div>
                <span class="text-primary fs-7" >(#{choice.count})</span>
            </div>
        p(class="text-clickable text-center w-100 text-primary mt-2 pb-3") عرض المزيد
    </div>
    <!-- second filter -->
    <div class="bg-secondary rounded-2 my-3">
        each choice,index in [{title: "مقاس 250 * 20",count: 2512},{title: "مقاس 210 * 20",count: 2512},{title: "مقاس 250 * 15",count: 2512}]
            <div class="w-100 d-flex px-4 py-2 justify-content-between">
                <div>
                    <input type="radio" name="rad-size" id="#{choice.title}"/>
                    <label for="#{choice.title}" class="fs-6-5 fw-semibold" style="margin-inline-start: 8px;">#{choice.title}</label>
                </div>
                <span class="text-primary fs-7" >(#{choice.count})</span>
            </div>
        p(class="text-clickable text-center w-100 text-primary mt-2 pb-3") عرض المزيد
    </div>
    <!-- third filter -->
    <div class="bg-secondary rounded-2 my-3">
        each choice,index in [{title: "2022",count: 2512},{title: "2021",count: 2512},{title: "2020",count: 2512},{title: "2019",count: 2512}]
            <div class="w-100 d-flex px-4 py-2 justify-content-between">
                <div>
                    <input type="radio" name="rad-model-year" id="#{choice.title}"/>
                    <label for="#{choice.title}" class="fs-6-5 fw-semibold" style="margin-inline-start: 8px;">#{choice.title}</label>
                </div>
                <span class="text-primary fs-7" >(#{choice.count})</span>
            </div>
        p(class="text-clickable text-center w-100 text-primary mt-2 pb-3") عرض المزيد
    </div>
    <button class="btn btn-primary w-100"> اظهر النتائج ( 520 )</button>
</div>