mixin slider-h(title,more,itemHasTitle,items)
    <!-- Swiper -->
    <div class="py-4 bg-secondary slider-h-wrapper position-relative">
        h1(class="py-4 text-primary text-center w-100") #{title}
        <div class="swiper-h mySwiperHorizontal position-relative">
            <div class="swiper-wrapper grabbable">
                each item, index in items
                    <div class="swiper-slide d-flex flex-column py-2">
                        <img src="#{item.img}" alt="" class="#{itemHasTitle?'mt-3': '' }">
                        <div class="#{itemHasTitle?'d-block': 'd-none' } mb-3 fs-sm-6">#{item.title}</div>
                    </div>
                    
            </div>
            <div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

            <div style="z-index: 12;" class="text-primary p-4 d-flex justify-content-between">
                <div>
                    <i class="m-4 forward bg-primary btn-prev" id="pointer">
                        <i class="fas fa-angle-right"></i>
                    </i>

                    <i class="m-4 reverse bg-primary btn-next" id="pointer">
                        <i class="fas fa-angle-right"></i>
                    </i>
                </div>
                <p class="fw-bolder p-4 cursor-pointer text-clickable" style="z-index:3;">#{more} <i class="fas fa-angle-left"></i></p>
            </div>
        </div>
    </div>
    <div id="arrow"></div>

    <!-- Initialize Swiper -->
    <script>
    .
        var swiper = new Swiper(".mySwiperHorizontal", {
            slidesPerView: 'auto',
            spaceBetween: 10,
            slidesPerGroup: 1,
            grapCursor: true,
            loopPreventsSlide: true,
            loop: true,
            loopFillGroupWithBlank: true,
            navigation: {
                prevEl: ".btn-prev",
                nextEl: ".btn-next",
            },
        });
    </script>