include _components/slider-h
include _components/car-card
include _components/slider-offers-3
include _components/nav-bar
include _components/auction-card


doctype html
html(lang="ar" dir="rtl")
    head
        include _components/shared-head
        title ملفي 
        <link rel="stylesheet" href="./css/my-account.css">
    body 
        +nav-bar("my-account")

        <div class="container py-4 my-4" style="min-height: 90vh;">
            
            <!-- my account data -->

            <div class="text-end w-100">
                <div class="d-flex flex-row align-items-end">
                    <div class="position-relative m-2 rounded-circle overflow-hidden" style="height: 110px;">
                        <img src="./assets/img (1).jpg" alt="user img" class="h-100"/>
                        <div class="shown-on-hover position-absolute w-100" style="background: linear-gradient(to top, black, transparent); height: 30%; inset: auto 0px 0px 0px;">
                            <i class="fas fa-pen text-white mb-0 text-clickable" style="opacity: 0.7;"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1 text-end px-4 min-w-max-content">
                        <h6 class="fs-4">Anonymous</h6>
                        <p class="fw-light fs-6">ID: 242775444</p>
                    </div>
                </div>

                br
                <div class="text-end"><i class="mx-2 text-primary fas fa-envelope"></i> anonymous@gmail.com</div>
                <div class="text-end d-ltr">+996 125 4768 <i class="mx-2 text-primary fas fa-phone"></i> </div>
                <div class="text-end"><i class="mx-2 text-primary fas fa-location-arrow"></i> الرياض ,السعودية</div>
                br
            </div>
            <div class="d-flex justify-content-between flex-wrap">
                <button type="button" class="btn btn-primary px-4 shadow-sm mb-4 min-w-max-content" style="width: 35%;">تعديل الملف الشخصي</button>
                <div class="chat-cat">
                    <input class="d-none" type="radio" name="chat-state" checked id="chat-state-still"/>
                    <label for="chat-state-still" class="px-2 text-clickable mx-4">قيد التنفيذ</label> /
                    <input class="d-none" type="radio" name="chat-state" checked id="chat-state-ended"/>
                    <label for="chat-state-ended" class="px-2 text-clickable mx-4">انتهى</label>
                </div>
            </div>

            //- processes

            - var processes = [{id: 4156234, title: "تعديل فوانيس ليد تعديل فوانيس ليد تعديل فوانيس ليد تعديل فوانيس ليد",count: 22, date: "25 / 08 / 2022 Sunday - 12:00 PM"},{id: 4156234, title: "تعديل فوانيس ليد",count: 2, date: "25 / 08 / 2022 Sunday - 12:00 PM"},{id: 4156234, title: "تعديل فوانيس ليد",count: 2, date: "25 / 08 / 2022 Sunday - 12:00 PM"},{id: 4156234, title: "تعديل فوانيس ليد",count: 2, date: "25 / 08 / 2022 Sunday - 12:00 PM"}]

            <div class="my-4 d-none d-sm-grid __process-grid">
                h5(class="text-center") <span class="d-none d-md-inline-block">عملية </span> رقم
                h5(class="text-center") <span class="d-none d-md-inline-block">اسم </span> العملية
                h5(class="text-center") عدد <span class="d-none d-md-inline-block">المنتجات </span>
                h5(class="text-center") تاريخ <span class="d-none d-md-inline-block"> العملية</span>
                i(style="display: inline-block; width: 45px;")
                each process, index in processes
                    p(class="text-center m-0 fs-6 flex-grow-1 mb-2 py-3 position-relative __border-after light-grey-border" style="border-radius: 0 16px 16px 0; border-left: none;") ##{process.id}
                    p(class="text-center m-0 fs-6 flex-grow-1 mb-2 py-2 light-grey-border rounded-0" style="border-inline: none;") #{process.title}
                    p(class="text-center m-0 fs-6 flex-grow-1 mb-2 py-2 light-grey-border rounded-0" style="border-inline: none; min-width: 160px;") X #{process.count}
                    p(class="text-center m-0 fs-6 flex-grow-1 mb-2 py-2 light-grey-border rounded-0 d-ltr" style="border-inline: none;") #{process.date}
                    i(class="fs-1 fas fa-angle-left text-clickable mb-2 py-3 light-grey-border d-inline-block" style="width: 45px; color: grey; border-radius: 16px 0 0 16px;")
            </div>

            //- for small screens 
            <div class="d-block d-sm-none">
                each process, index in processes
                    <div class="d-flex mt-4 light-grey-border p-2 position-relative __border-after" style="border-radius: 16px 16px 0 0; border-bottom: none;">
                        h5(class="text-center" style="min-width: 64px;") <span class="d-none d-md-inline-block">عملية </span> رقم
                        p(class="text-center p-0 m-0 fs-6 flex-grow-1 text-clickable fw-bold") ##{process.id}
                    </div>
                    <div class="d-flex light-grey-border p-2 rounded-0" style="border-bottom: none; border-top: none;">
                        h5(class="text-center" style="min-width: 64px;") <span class="d-none d-md-inline-block">اسم </span> العملية
                        p(class="text-center p-0 m-0 fs-6 flex-grow-1") #{process.title}
                    </div>
                    <div class="d-flex light-grey-border p-2 rounded-0" style="border-bottom: none; border-top: none;">
                        h5(class="text-center" style="min-width: 64px;") عدد <span class="d-none d-md-inline-block">المنتجات </span>
                        p(class="text-center p-0 m-0 fs-6 flex-grow-1" style="min-width: 160px;") X #{process.count}
                    </div>
                    <div class="d-flex light-grey-border mb-4 p-2" style="border-radius: 0 0 16px 16px; border-top: none;">
                        h5(class="text-center" style="min-width: 64px;") تاريخ <span class="d-none d-md-inline-block"> العملية</span>
                        p(class="text-center p-0 m-0 fs-6 flex-grow-1" style="direction: ltr;") #{process.date}
                    </div>
            </div>
        </div>

        include _components/footer
        +footer("my-account")
