include _components/slider-h
include _components/slider-tabs
include _components/slider-v
include _components/car-card
include _components/slider-offers-3
include _components/nav-bar

- var tires = [{title: "جنط من BBC ألومنيوم",img: "../assets/tire-1.jpg"},{title: "جنط من BBC ألومنيوم",img: "../assets/tire-2.jpg"},{title: "جنط من BBC ألومنيوم",img: "../assets/tire-3.jpg"},{title: "جنط من BBC ألومنيوم",img: "../assets/tire-4.jpg"},{title: "جنط من BBC ألومنيوم",img: "../assets/tire-5.jpg"},{title: "جنط من BBC ألومنيوم",img: "../assets/tire-6.jpg"}]
- var categories = [{title: "اكتشف جميع قطع الغيار", icon: "../assets/p-cat-1.jpg"},{title: "الفرامل والأقمشة", icon: "../assets/p-cat-2.jpg"},{title: "الأبواب والرفرف والكبوت", icon: "../assets/p-cat-3.jpg"},{title: "الشمعات والإصطبات", icon: "../assets/p-cat-4.jpg"},{title: "البواجي والفلاتر والسيور", icon: "../assets/p-cat-5.jpg"},{title: "المساعدات والمقصات", icon: "../assets/p-cat-6.jpg"},{title: "الدفرنس والرمانات", icon: "../assets/p-cat-7.jpg"},{title: "الشكمان", icon: "../assets/p-cat-8.jpg"},{title: "نظام الوقود", icon: "../assets/p-cat-9.jpg"},{title: "نظام التكييف والتبريد", icon: "../assets/p-cat-10.jpg"},{title: "المكائن والقيرات وملحقاتها", icon: "../assets/p-cat-11.jpg"}]


doctype html
html(lang="ar",dir="rtl")
    head
        include _components/shared-head
        title قطع الغيار
        <style>
        .
            input[type="checkbox"]:checked + label{
                color: var(--bs-danger) !important;
            }
        </style>
    body()
        +nav-bar("parts")
        <div class="position-relative" style="height: calc(100% - 78px)">
            +slider-v(true,[
                "../assets/slider-1.jpg",
                "../assets/slider-2.jpg",
                "../assets/slider-3.jpg",
                "../assets/slider-4.jpg",
            ])
            <div class="position-absolute top-0 bottom-0 right-0 left-0 d-flex align-items-center justify-content-center w-100" style="z-index: 10;flex-direction: column;">
                <h3 class="text-white d-block">كل اللي تحتاجه تلاقيه <span class="text-primary h1">!</span></h3>
                <form class="row">
                    <div class="col-auto">
                        <label for="inputSearch" class="visually-hidden">Search</label>
                        <input type="text" class="form-control p-2 px-4 placeholder-secondary placeholder-sm" id="inputSearch" placeholder="ابحث عن الموديل او نوع المركبة الذي تريده">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3 p-2 px-4"><span class="d-none d-md-inline-block mx-2">البحث الآن </span><i class="fas fa-magnifying-glass"></i></button>
                    </div>
                </form>
                
                <div class="text-white" style="display: flex; flex-direction: column; gap: 16px;  position: absolute; left: 40px; bottom: 80px; align-items: center; justify-content: center; z-index: 11;">
                    <i class="fa-brands cursor-pointer fa-whatsapp"></i>
                    <i class="fa-brands cursor-pointer fa-twitter"></i>
                    <i class="fa-brands cursor-pointer fa-facebook-f"></i>
                    <i class="fa-brands cursor-pointer fa-youtube"></i>
                    <i class="fa-brands cursor-pointer fa-instagram"></i>
                </div>
        </div>
    </div>

    //- TODO make toggle for filter modal
    <div class="row">
        <div class="col-0 d-none d-lg-inline-block col-lg-3 px-0">
            <h3 class="text-primary py-2" style="margin-top: 40px; margin-bottom: 20px;"><span class="text-white bg-primary pt-4 ps-1 pe-3" style="border-radius: 100% 0% 0% 100% / 80% 4% 0% 20%;"> فلتر </span>البحث</h3>
            <div class="p-4">
                <!-- first filter -->
                <div class="bg-secondary rounded-2 my-3">
                    each choice,index in [{title: "إطارات من BBC",count: 2512},{title: "إطارات من BBC",count: 2512},{title: "إطارات من BBC",count: 2512},{title: "إطارات من BBC",count: 2512},{title: "إطارات من BBC",count: 2512}]
                        <div class="w-100 d-flex px-4 py-2 justify-content-between">
                            <div>
                                <input type="radio" name="rad-manufacturer" id="#{choice.title}"/>
                                <label for="#{choice.title}" class="fs-6-5 fw-semibold" style="margin-inline-start: 8px;">#{choice.title}</label>
                            </div>
                            <span class="text-primary fs-7" >(#{choice.count})</span>
                        </div>
                    p(class="text-clickable text-center w-100 text-primary mt-2 pb-3") عرض المزيد
                </div>
                <!-- second filter -->
                <div class="bg-secondary rounded-2 my-3">
                    each choice,index in [{title: "مقاس 250 * 20",count: 2512},{title: "مقاس 210 * 20",count: 2512},{title: "مقاس 250 * 15",count: 2512}]
                        <div class="w-100 d-flex px-4 py-2 justify-content-between">
                            <div>
                                <input type="radio" name="rad-size" id="#{choice.title}"/>
                                <label for="#{choice.title}" class="fs-6-5 fw-semibold" style="margin-inline-start: 8px;">#{choice.title}</label>
                            </div>
                            <span class="text-primary fs-7" >(#{choice.count})</span>
                        </div>
                    p(class="text-clickable text-center w-100 text-primary mt-2 pb-3") عرض المزيد
                </div>
                <!-- third filter -->
                <div class="bg-secondary rounded-2 my-3">
                    each choice,index in [{title: "2022",count: 2512},{title: "2021",count: 2512},{title: "2020",count: 2512},{title: "2019",count: 2512}]
                        <div class="w-100 d-flex px-4 py-2 justify-content-between">
                            <div>
                                <input type="radio" name="rad-model-year" id="#{choice.title}"/>
                                <label for="#{choice.title}" class="fs-6-5 fw-semibold" style="margin-inline-start: 8px;">#{choice.title}</label>
                            </div>
                            <span class="text-primary fs-7" >(#{choice.count})</span>
                        </div>
                    p(class="text-clickable text-center w-100 text-primary mt-2 pb-3") عرض المزيد
                </div>
                <button class="btn btn-primary w-100"> اظهر النتائج ( 520 )</button>
            </div>
        </div>

        <button class="btn btn-primary rounded-circle position-fixed d-inline-block d-lg-none" style="bottom: 24px; right: 24px; width: 44px; height: 44px; z-index: 4; padding-top: 12px;"><i class="fas fa-filter"></i></button>

        <div class="col-12 col-lg-9 px-0">
            +slider-tabs(["الفرامل والأقمشة",'الصدامات والشبوك','المكائن والقيرات',"الشمعات والاصطبات","الأبواب والنوافذ",'الكشافات والأضواء',"الإطارات"])
                
            <div style="display: grid; grid-template-columns: repeat(auto-fit, 260px); place-content: center center; gap: 40px;" class="mb-4">
                each tire, index in tires
                    <div class="rounded-2 d-flex flex-column text-center p-3 col-auto" style=" border: 1px solid rgba(204, 204, 204, 0.55);direction:rtl !important;">
                        <h6 class="mb-3 mt-1 fs-6" style="color: rgb(108, 108, 108)">#{tire.title}</h6>
                        <div class="position-relative overflow-hidden rounded-2 mb-2" style="height: 148px"> 
                            <img src="#{tire.img}" alt="tire_img" height="100%" style="border-radius: 8px" class="hoverZoomLink" />
                        </div>
                        <span class="w-100 d-flex flex-row gap-4 fs-7 my-2"><span>التفاصيل</span><i class="flex-grow-1"style="background-color: rgba(204, 204, 204, 0.55);height: 1px;border-radius: 8px;"></i></span>
                        <div class="text-dark row text-end justify-items-center align-items-start">
                            <span class="d-flex flex-column col-4 fs-9"><span class="fs-7 fw-bold"style="color: transparent; user-select: none">ريال مدريد</span><span class="text-primary fs-5">50.00</span>ريال / شهر</span><span class="d-flex flex-column col-4 fs-7"><span class="fs-9 fw-bold" style="min-width: max-content;">شامل الضريبة</span><span class="text-primary fs-5">450.00</span>ريال</span><span class="d-flex flex-column col-4 fs-7 text-primary"><span class="fs-9 fw-bold text-dark">بدلاً من
                                </span><span class="text-dark fs-5 text-decoration-line-through">750.00</span class="fs-9">توفير 300 ريال</span><span class="d-flex flex-column col-4">
                                <p></p>

                                //- <span class="h6 text-black" style="font-weight: 700;">2021</span>
                                
                        </div>
                        <div class="d-flex justify-content-between align-items-center fs-6 gap-2">
                            <button type="button" class="btn btn-sm btn-primary flex-grow-1">شراء الآن</button>
                            <span>
                                <input type="checkbox" class="d-none" id="favored-#{index}">
                                <label class="d-inline-block btn btn-sm btn-outline-secondary flex-grow-1" for="favored-#{index}">إضافة للمفضلة <i class="fas fa-heart"></i></label>
                            </span>
                        </div>
                    </div>
            </div>
            p(class="container text-primary text-clickable fw-bolder fs-5 mt-2 mb-4 text-start") شاهد الكل <i class="fas fa-angle-left"></i>
        </div>
        
        <!-- part categories section -->

        <div class="p-0 text-center">
            h1(style="border-bottom: 2px solid var(--bs-grey-200);", class="text-primary h3 fw-bold pb-2 mt-4 mb-2 d-inline-block") استكشف خدمات العناية
            <div style="display: grid; grid-template-columns: repeat(auto-fit, 240px); gap: 24px; place-content: center center;" class="my-4">
                <!-- زود hover effect هنا -->
                each cat, index in categories
                    <div class="text-center rounded-3 pt-3 pb-2 cursor-pointer" style="border: 1px solid var(--bs-grey-400); height: 140px;">
                        <img src="#{cat.icon}" alt="#{cat.title} img" style="height: 60%;"/>
                        p(class="text-primary mt-2") #{cat.title}
                    </div>
            </div>

            <!-- slider on brand -->

            +slider-h("تصفح السيارات حسب الماركة","جميع الماركات",false,[
                    {img: "./../assets/brands-1.png", title: 'sedan'},
                    {img: "./../assets/brands-2.png", title: 'sedan'},
                    {img: "./../assets/brands-3.png", title: 'sedan'},
                    {img: "./../assets/brands-4.png", title: 'sedan'},
                    {img: "./../assets/brands-5.png", title: 'sedan'},
                    {img: "./../assets/brands-6.png", title: 'sedan'},
                    {img: "./../assets/brands-7.png", title: 'sedan'},
                    {img: "./../assets/brands-8.png", title: 'sedan'},
                    {img: "./../assets/brands-9.png", title: 'sedan'},
                    {img: "./../assets/brands-10.png", title: 'sedan'},
                    {img: "./../assets/brands-11.png", title: 'sedan'},
                    ])
        </div>
    </div>
    
    include _components/mobile-ad-banner
    include _components/sellers
    include _components/footer
