include _components/slider-h
include _components/car-card
include _components/slider-offers-3
include _components/nav-bar

- var shows = [{title: "وكالة الشرق هيونداي",img: "../assets/service-1.jpg", carsCount: 133, location: "الرياض", isGolden: true, isVIP: true},{title: "وكالة الشرق هيونداي",img: "../assets/service-1.jpg", carsCount: 133, location: "الرياض", isGolden: false, isVIP: true},{title: "وكالة الشرق هيونداي",img: "../assets/service-1.jpg", carsCount: 133, location: "الرياض", isGolden: false, isVIP: false},{title: "وكالة الشرق هيونداي",img: "../assets/service-1.jpg", carsCount: 133, location: "الرياض", isGolden: true, isVIP: true},{title: "وكالة الشرق هيونداي",img: "../assets/service-1.jpg", carsCount: 133, location: "الرياض", isGolden: true, isVIP: true}]

doctype html
html(lang="ar" dir="rtl")
    head
        include _components/shared-head
        title معارض سيارات
    body 
        +nav-bar("shows")

        <header style="margin-inline: 0px;width: 100%; background-color: #fff6f1; height: max-content; padding-top: 12px; padding-bottom: 12px; place-content: center center;" class="row">
            h1(class="text-primary h3 col-12 col-md-5") <span style="display: inline-block; border-radius: 30% 62% 74% 26% / 35% 56% 44% 55%; background-color: var(--bs-primary-color); color: white; padding-top: 22px; padding-bottom: 22px; padding-inline: 12px;"> معارض </span> للسيارات في السعودية
            <form class="col-12 col-md-7 d-flex align-items-center my-2">
                <div class="col-auto">
                    <label for="inputSearch" class="visually-hidden">Search</label>
                    <input type="text" class="form-control p-2 px-4 placeholder-secondary placeholder-sm"  style="border: none; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;" id="inputSearch" placeholder="ابحث عن معرض">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary p-2 px-4" style="border-radius: 8px 0px 8px 8px;transform: translateX(10px)"><span class="d-none d-md-inline-block mx-2">ابحث </span><i class="fas fa-magnifying-glass d-inline-block d-md-none"></i></button>
                </div>
            </form>
        </header>

        <main class="mx-4" style="place-content: center center; display: grid; gap: 24px; grid-template-columns: repeat(auto-fit,min(100%, 290px)); margin-top: 48px;">
            each show, index in shows
                <div class="p-2" style="position: relative; border: 1px solid var(--bs-grey-150); border-radius: 8px; cursor: pointer;">
                    <div style="position: relative; ">
                        <img src="#{show.img}" alt="show img" class="mb-3"style="border-radius: 8px; height: 175px; width: 100%; object-fit: cover; "/>
                        <i class="#{show.isVIP? 'd-inline-block':'d-none'}"style="width: 48px; height: 50px; position: absolute; top: -6px; left: 20px; background-image: url(../assets/vip.png); background-size: contain; background-repeat: no-repeat;"></i>
                    </div>
                    <div class="#{show.isGolden? 'd-inline-block': 'd-none'}"style="position: absolute; top: 20px; right:-4px; color: white; background-color: #eeae00; padding-left: 16px; padding-right: 8px; border-radius: 4px; padding-top: 4px;padding-bottom: 4px;"> وكالات جولد</div>

                    <h5>#{show.title}</h5>
                    <div class="d-flex justify-content-between align-items-end mb-1 mt-4 mx-2">
                        <span><i class="fas fa-location-arrow text-primary"></i> #{show.location}</span>
                        p(class="text-primary p-0 m-0") #{show.carsCount} سيارة
                    </div>
                </div>
        </main>

        br
        br
        br
        br

        include _components/footer
+footer("shows")
